# EDA

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import openpyxl

In [4]:
hechos_fatales = pd.DataFrame(pd.read_csv('hechos_fatales.csv'))
victimas_fatales = pd.DataFrame(pd.read_csv('victimas_fatales.csv'))
lesiones_hechos = pd.DataFrame(pd.read_csv('lesiones_hechos.csv'))
lesiones_victimas = pd.DataFrame(pd.read_csv('lesiones_victimas.csv'))

#  Homicidios

* Veo qué tipos de datos tiene cada data frame y cuántos nulos hay en cada uno

In [4]:
hechos_fatales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684 entries, 0 to 683
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       684 non-null    int64
 1   ID               684 non-null    object
 2   N_VICTIMAS       684 non-null    int64
 3   FECHA            684 non-null    object
 4   HH               684 non-null    int64
 5   LUGAR_DEL_HECHO  684 non-null    object
 6   TIPO_DE_CALLE    684 non-null    object
 7   COMUNA           684 non-null    int64
 8   pos x            684 non-null    float64
 9   pos y            684 non-null    float64
 10  VICTIMA          684 non-null    object
 11  ACUSADO          684 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 64.2+ KB

In [5]:
victimas_fatales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        717 non-null    int64
 1   ID                717 non-null    object
 2   FECHA             717 non-null    object
 3   ROL               717 non-null    object
 4   TIPO_DE_VEHICULO  717 non-null    object
 5   SEXO              717 non-null    object
 6   EDAD              717 non-null    int64
dtypes: int64(2), object(5)
memory usage: 39.3+ KB

In [6]:
lesiones_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22328 entries, 0 to 22327
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22328 non-null  int64
 1   id          22328 non-null  object
 2   n_victimas  22328 non-null  int64
 3   fecha       22328 non-null  object
 4   hora        22328 non-null  int64
 5   comuna      22328 non-null  int64
 6   longitud    22238 non-null  float64
 7   latitud     22238 non-null  float64
 8   victima     22328 non-null  object
 9   gravedad    22328 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 1.7+ MB

In [7]:
lesiones_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    27605 non-null  int64
 1   ID hecho      27605 non-null  object
 2   FECHA         27605 non-null  object
 3   SEXO          27605 non-null  object
 4   EDAD_VICTIMA  27605 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.1+ MB

* Ahora voy a revisar qué datos tiene cada dataframe

In [8]:
hechos_fatales.head()

,Unnamed: 0,ID,N_VICTIMAS,FECHA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO
0,0,2016-0001,1,2016-01-01,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.475340,-34.687570,MOTO,AUTO
1,1,2016-0002,1,2016-01-02,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,9,-58.508775,-34.669777,AUTO,PASAJEROS
2,2,2016-0003,1,2016-01-03,7,AV ENTRE RIOS 2034,AVENIDA,1,-58.390403,-34.631894,MOTO,AUTO
3,3,2016-0004,1,2016-01-10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.465039,-34.680930,MOTO,SD
4,4,2016-0005,1,2016-01-21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.387183,-34.622466,MOTO,PASAJEROS

In [9]:
victimas_fatales.head()

,Unnamed: 0,ID,FECHA,ROL,TIPO_DE_VEHICULO,SEXO,EDAD
0,0,2016-0001,2016-01-01,CONDUCTOR,MOTO,MASCULINO,19
1,1,2016-0002,2016-01-02,CONDUCTOR,AUTO,MASCULINO,70
2,2,2016-0003,2016-01-03,CONDUCTOR,MOTO,MASCULINO,30
3,3,2016-0004,2016-01-10,CONDUCTOR,MOTO,MASCULINO,18
4,4,2016-0005,2016-01-21,CONDUCTOR,MOTO,MASCULINO,29

* Veo que hechos fatales y victimas fatales coinciden en el ID, voy a hacer un merge de ambas tablas para tener la mayor cantidad de datos posibles

In [10]:
fatales = pd.merge(hechos_fatales,victimas_fatales, on='ID', how='inner')
fatales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0_x      704 non-null    int64
 1   ID                704 non-null    object
 2   N_VICTIMAS        704 non-null    int64
 3   FECHA_x           704 non-null    object
 4   HH                704 non-null    int64
 5   LUGAR_DEL_HECHO   704 non-null    object
 6   TIPO_DE_CALLE     704 non-null    object
 7   COMUNA            704 non-null    int64
 8   pos x             704 non-null    float64
 9   pos y             704 non-null    float64
 10  VICTIMA           704 non-null    object
 11  ACUSADO           704 non-null    object
 12  Unnamed: 0_y      704 non-null    int64
 13  FECHA_y           704 non-null    object
 14  ROL               704 non-null    object
 15  TIPO_DE_VEHICULO  704 non-null    object
 16  SEXO              704 non-null    object
 17  EDAD              704 non-null    int64
dtypes: float64(2), int64(6), object(10)
memory usage: 99.1+ KB

In [11]:
roles = fatales['ROL'].unique()
roles

array(['CONDUCTOR', 'PASAJERO_ACOMPAÑANTE', 'PEATON', 'SD', 'CICLISTA'],
      dtype=object)

In [12]:
Tipos_de_vehiculo = fatales['TIPO_DE_VEHICULO'].unique()
Tipos_de_vehiculo

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL'], dtype=object)

In [13]:
victima = fatales['VICTIMA'].unique()
victima

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL', 'OBJETO FIJO', 'PEATON_MOTO'], dtype=object)

* Con ambas tablas en una sola, tengo columnas redundantes y puedo eliminarlas.

In [14]:
columnas_a_eliminar = ['Unnamed: 0_x','LUGAR_DEL_HECHO','Unnamed: 0_y','FECHA_y','VICTIMA',]
fatales.drop(columns=columnas_a_eliminar, inplace=True)
fatales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                704 non-null    object
 1   N_VICTIMAS        704 non-null    int64
 2   FECHA_x           704 non-null    object
 3   HH                704 non-null    int64
 4   TIPO_DE_CALLE     704 non-null    object
 5   COMUNA            704 non-null    int64
 6   pos x             704 non-null    float64
 7   pos y             704 non-null    float64
 8   ACUSADO           704 non-null    object
 9   ROL               704 non-null    object
 10  TIPO_DE_VEHICULO  704 non-null    object
 11  SEXO              704 non-null    object
 12  EDAD              704 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 71.6+ KB

* 'Unnamed: 0_x e 0_y' fueron eliminados por ser columnas que no aportan al dataframe
* 'Lugar del hecho' fue eliminada porque eran datos de tipo str que no estaban normalizados del nombre de las calles donde ocurrieron los hechos. Esta información puede ser consultada a través de las coordenadas
* 'FECHA_y' fue eliminada por ser redundante con 'FECHA_x'
* 'VICTIMA' aportaba la misma información que 'TIPO_DE_VEHICULO' siendo esta última mejor para aportar el tipo de vehiculo

* Renombro las columnas con nombres más identificables

In [15]:
Nombres_Nuevos = {'N_VICTIMAS':'Cantidad de victimas','FECHA_x':'Fecha','TIPO_DE_CALLE':'Tipo De Calle','COMUNA':'Comuna','pos x':'Long','pos y':'Lat','ACUSADO':'Vehiculo Acusado','TIPO_DE_VEHICULO':'Vehiculo Victima','SEXO':'Sexo','EDAD':'Edad'}
fatales.rename(columns=Nombres_Nuevos,inplace=True)
fatales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    704 non-null    object
 1   Cantidad de victimas  704 non-null    int64
 2   Fecha                 704 non-null    object
 3   HH                    704 non-null    int64
 4   Tipo De Calle         704 non-null    object
 5   Comuna                704 non-null    int64
 6   Long                  704 non-null    float64
 7   Lat                   704 non-null    float64
 8   Vehiculo Acusado      704 non-null    object
 9   ROL                   704 non-null    object
 10  Vehiculo Victima      704 non-null    object
 11  Sexo                  704 non-null    object
 12  Edad                  704 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 71.6+ KB

Finalmente quedaron las siguientes columnas:
* ID = numero de identificacion del hecho
* Cantidad de victimas = cantidad de victimas fatales del hecho
* Fecha = Fecha del suceso 
* HH = Franja horaria 
* Tipo de calle = Tipo de calle donde ocurrio el hecho, calle, avenida, autopista
* Comuna = Comuna donde ocurrió
* Long y Lat = Conjunto de coordenadas del hecho
* Vehiculo Acusado = Tipo de vehiculo del acusado
* ROL = Rol que ocupaba la víctima
* Vehiculo Victima = Tipo de vehiculo de la victima
* Sexo = Género de la victima
* Edad = Edad de la victima

In [16]:
vehiculos = fatales['Vehiculo Victima'].unique()
vehiculos

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL'], dtype=object)

Voy a guardar este csv para realizar el dashboard

In [32]:
#fatales.to_csv('src/fatales.csv')

# Lesiones

In [5]:
lesiones_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22328 entries, 0 to 22327
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22328 non-null  int64
 1   id          22328 non-null  object
 2   n_victimas  22328 non-null  int64
 3   fecha       22328 non-null  object
 4   hora        22328 non-null  int64
 5   comuna      22328 non-null  int64
 6   longitud    22238 non-null  float64
 7   latitud     22238 non-null  float64
 8   victima     22328 non-null  object
 9   gravedad    22328 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 1.7+ MB

* Veo que no tiene nulos, es un dataset más grande que el de los hechos fatales

In [6]:
lesiones_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    27605 non-null  int64
 1   ID hecho      27605 non-null  object
 2   FECHA         27605 non-null  object
 3   SEXO          27605 non-null  object
 4   EDAD_VICTIMA  27605 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.1+ MB

* El proceso será parecido al de hechos fatales

In [7]:
lesiones_hechos.head()

,Unnamed: 0,id,n_victimas,fecha,hora,comuna,longitud,latitud,victima,gravedad
0,0,LC-2019-0000179,1,2019-01-01,9,14,-58.408911,-34.559658,ciclista,LEVE
1,1,LC-2019-0000053,1,2019-01-01,1,8,-58.443510,-34.669125,auto,LEVE
2,2,LC-2019-0000063,1,2019-01-01,2,8,-58.468335,-34.677556,moto,LEVE
3,3,LC-2019-0000079,1,2019-01-01,2,7,-58.437425,-34.647349,moto,LEVE
4,4,LC-2019-0000082,4,2019-01-01,4,3,-58.398225,-34.604579,transporte_publico,LEVE

In [8]:
lesiones_victimas.head()

   Unnamed: 0         ID hecho      FECHA    SEXO  EDAD_VICTIMA
0           0  LC-2019-0000053  2019-01-01  Varon            57
1           1  LC-2019-0000063  2019-01-01     SD            35
2           2  LC-2019-0000079  2019-01-01  Varon            35
3           3  LC-2019-0000082  2019-01-01  Varon            45
4           4  LC-2019-0000082  2019-01-01  Mujer            45

* Voy a eliminar las columnas que no sean necesarias, y voy a normalizar los nombres

In [9]:
lesiones_hechos.drop(columns='Unnamed: 0',inplace=True)
lesiones_victimas.drop(columns='Unnamed: 0',inplace=True)

In [10]:
renombrar_columnas = {'n_victimas':'Numero de Victimas','longitud':'long','latitud':'lat'}
lesiones_hechos.rename(columns=renombrar_columnas,inplace=True)

In [11]:
renombrar_columnas = {'ID hecho':'id','EDAD VICTIMA':'edad'}
lesiones_victimas.rename(columns=renombrar_columnas,inplace=True)

Los dataframes coinciden en la columna 'id', haré un merge

In [12]:
lesiones = pd.merge(lesiones_hechos,lesiones_victimas, on='id', how='inner')
lesiones.head()

,id,Numero de Victimas,fecha,hora,comuna,long,lat,victima,gravedad,FECHA,SEXO,EDAD_VICTIMA
0,LC-2019-0000179,1,2019-01-01,9,14,-58.408911,-34.559658,ciclista,LEVE,2019-01-01,SD,35
1,LC-2019-0000053,1,2019-01-01,1,8,-58.443510,-34.669125,auto,LEVE,2019-01-01,Varon,57
2,LC-2019-0000063,1,2019-01-01,2,8,-58.468335,-34.677556,moto,LEVE,2019-01-01,SD,35
3,LC-2019-0000079,1,2019-01-01,2,7,-58.437425,-34.647349,moto,LEVE,2019-01-01,Varon,35
4,LC-2019-0000082,4,2019-01-01,4,3,-58.398225,-34.604579,transporte_publico,LEVE,2019-01-01,Varon,45

In [13]:
lesiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25974 entries, 0 to 25973
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  25974 non-null  object
 1   Numero de Victimas  25974 non-null  int64
 2   fecha               25974 non-null  object
 3   hora                25974 non-null  int64
 4   comuna              25974 non-null  int64
 5   long                25857 non-null  float64
 6   lat                 25857 non-null  float64
 7   victima             25974 non-null  object
 8   gravedad            25974 non-null  object
 9   FECHA               25974 non-null  object
 10  SEXO                25974 non-null  object
 11  EDAD_VICTIMA        25974 non-null  int64
dtypes: float64(2), int64(4), object(6)
memory usage: 2.4+ MB

* Voy a eliminar la columna 'FECHA' que ha quedado redundante

In [14]:
lesiones.drop(columns='FECHA ',inplace=True)

In [15]:
lesiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25974 entries, 0 to 25973
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  25974 non-null  object
 1   Numero de Victimas  25974 non-null  int64
 2   fecha               25974 non-null  object
 3   hora                25974 non-null  int64
 4   comuna              25974 non-null  int64
 5   long                25857 non-null  float64
 6   lat                 25857 non-null  float64
 7   victima             25974 non-null  object
 8   gravedad            25974 non-null  object
 9   SEXO                25974 non-null  object
 10  EDAD_VICTIMA        25974 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 2.2+ MB

* Voy a normalizar los nombres de las columnas

In [16]:
lesiones.head(1)

,id,Numero de Victimas,fecha,hora,comuna,long,lat,victima,gravedad,SEXO,EDAD_VICTIMA
0,LC-2019-0000179,1,2019-01-01,9,14,-58.408911,-34.559658,ciclista,LEVE,SD,35

In [17]:
Nuevos_Nombres = {'id':'ID','Numero de Victimas':'Cantidad de victimas','hora':'HH','comuna':'Comuna','long':'Long','lat':'Lat','victima':'Vehiculo Victima','gravedad':'Gravedad','fecha':'Fecha','SEXO':'Sexo','EDAD_VICTIMA':'Edad'}
lesiones.rename(columns=Nuevos_Nombres,inplace=True)
lesiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25974 entries, 0 to 25973
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    25974 non-null  object
 1   Cantidad de victimas  25974 non-null  int64
 2   Fecha                 25974 non-null  object
 3   HH                    25974 non-null  int64
 4   Comuna                25974 non-null  int64
 5   Long                  25857 non-null  float64
 6   Lat                   25857 non-null  float64
 7   Vehiculo Victima      25974 non-null  object
 8   Gravedad              25974 non-null  object
 9   Sexo                  25974 non-null  object
 10  Edad                  25974 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 2.2+ MB

* Los tipos de datos están correctos

In [18]:
Valores_Gravedad = lesiones['Gravedad'].unique()

Valores_Gravedad

array(['LEVE', 'GRAVE', 'FATAL'], dtype=object)

In [19]:
Valores_Sexo = lesiones['Sexo'].unique()
Valores_Sexo

array(['SD', 'Varon', 'Mujer', 'mujer', 'MUJER', 'sd', 'varon'],
      dtype=object)

In [20]:
# Normalizar los valores de la columna 'sexo'
lesiones['Sexo'] = lesiones['Sexo'].str.capitalize()

In [21]:
Valores_Sexo = lesiones['Sexo'].unique()
Valores_Sexo

array(['Sd', 'Varon', 'Mujer'], dtype=object)

In [22]:
lesiones = lesiones.dropna(subset=['Lat', 'Long'])
lesiones.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25857 entries, 0 to 25973
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    25857 non-null  object
 1   Cantidad de victimas  25857 non-null  int64
 2   Fecha                 25857 non-null  object
 3   HH                    25857 non-null  int64
 4   Comuna                25857 non-null  int64
 5   Long                  25857 non-null  float64
 6   Lat                   25857 non-null  float64
 7   Vehiculo Victima      25857 non-null  object
 8   Gravedad              25857 non-null  object
 9   Sexo                  25857 non-null  object
 10  Edad                  25857 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 2.4+ MB

In [24]:
lesiones.to_csv('src/No_fatales.csv')