# ETL

* Importo las librerías que voy a utilizar

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import openpyxl

* Cargo los datos para poder trabajarlos

In [27]:
homicidios_hechos = pd.read_excel('homicidios.xlsx',
                                  sheet_name='HECHOS')
homicidios_victimas = pd.read_excel('homicidios.xlsx',
                                    sheet_name='VICTIMAS')

* Armo dataframes para ver la cantidad de nulos que tengo y qué me aporta cada dataset

##### Hechos

In [28]:
homicidios_hechos = pd.DataFrame(homicidios_hechos)
homicidios_hechos.head(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO

In [5]:
homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

* Al parecer las columas que tienen nulos son: Altura, Cruce, Dirección Normalizada

In [6]:
homicidios_hechos['Altura']

0         NaN
1         NaN
2      2034.0
3         NaN
4         NaN
        ...
691       NaN
692       NaN
693       NaN
694    4071.0
695     709.0
Name: Altura, Length: 696, dtype: float64

* Altura es la altura de la calle o avenida donde se produjo el hecho

In [7]:
homicidios_hechos['Cruce']

0      FERNANDEZ DE LA CRUZ, F., GRAL. AV.
1                      DE LOS CORRALES AV.
2                                      NaN
3                 VILLEGAS, CONRADO, GRAL.
4                  SAENZ PE?A, LUIS, PRES.
                      ...
691                                    MOM
692                            LACARRA AV.
693                                TERRADA
694                                    NaN
695                                    NaN
Name: Cruce, Length: 696, dtype: object

* Cruce es la intersección de las dos calles donde hay ocurrido el hecho

In [8]:
homicidios_hechos['Dirección Normalizada']

0      PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...
1                   PAZ, GRAL. AV. y DE LOS CORRALES AV.
2                                    ENTRE RIOS AV. 2034
3              LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.
4                SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.
                             ...
691                                    RIESTRA AV. y MOM
692           DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.
693                                  GAONA AV. y TERRADA
694                                  PERON, EVA AV. 4071
695                              PADRE CARLOS MUGICA 709
Name: Dirección Normalizada, Length: 696, dtype: object

* Es la dirección normalizada en mayúsculas donde ocurrió el hecho
* Por el momento decido quedarme solo con las columnas ID, N_VICTIMAS, FECHA, HORA, TIPO DE CALLE, COMUNA, VICTIMA y ACUSADO y eliminar el resto.

In [29]:
columnas_a_eliminar = ['AAAA','MM','DD','HORA','Calle','Altura','Cruce','Dirección Normalizada','XY (CABA)', 'PARTICIPANTES']
homicidios_hechos.drop(columns=columnas_a_eliminar, inplace=True)
homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               696 non-null    object
 1   N_VICTIMAS       696 non-null    int64
 2   FECHA            696 non-null    datetime64[ns]
 3   HH               696 non-null    object
 4   LUGAR_DEL_HECHO  696 non-null    object
 5   TIPO_DE_CALLE    696 non-null    object
 6   COMUNA           696 non-null    int64
 7   pos x            696 non-null    object
 8   pos y            696 non-null    object
 9   VICTIMA          696 non-null    object
 10  ACUSADO          696 non-null    object
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 59.9+ KB

* Ahora voy a ver cómo se han tratado los datos faltantes en las columnas

In [35]:
homicidios_hechos['ACUSADO'].unique()

array(['AUTO', 'PASAJEROS', 'SD', 'OBJETO FIJO', 'CARGAS', 'MOTO',
       'MULTIPLE', 'OTRO', 'BICICLETA', 'TREN'], dtype=object)

* En la columna 'COMUNA' hay dos entradas que tienen como valor 0, estas quieren decir que no hay datos sobre ellos, las voy a eliminar

In [33]:
homicidios_hechos = homicidios_hechos.drop(homicidios_hechos[homicidios_hechos['COMUNA'] == 0].index)

* Voy a contar la cantidad de entradas sin datos en HORA

In [39]:
cantidad_SD = (homicidios_hechos['HH'] == 'SD').sum()
cantidad_SD

1

* Voy a rellenarlo con la mediana

In [40]:
# Calcula la mediana de la columna 'HH' excluyendo los valores 'SD'
mediana_HH = homicidios_hechos[homicidios_hechos['HH'] != 'SD']['HH'].median()

# Rellena los valores 'SD' con la mediana
homicidios_hechos.loc[homicidios_hechos['HH'] == 'SD', 'HH'] = mediana_HH

# Ahora los valores 'SD' han sido reemplazados por la mediana
cantidad_SD = (homicidios_hechos['HH'] == 'SD').sum()
cantidad_SD

0

* Voy a normalizar el tipo de dato donde sea necesario

In [44]:
homicidios_hechos['N_VICTIMAS'] = homicidios_hechos['N_VICTIMAS'].astype(int)
homicidios_hechos['HH'] = homicidios_hechos['HH'].astype(int)
#Por precaución convertiré 'COMUNA' de int64 a int32
homicidios_hechos['COMUNA'] = homicidios_hechos['COMUNA'].astype(int)
homicidios_hechos = homicidios_hechos[homicidios_hechos['pos x'] != '.']
homicidios_hechos['pos x'] = homicidios_hechos['pos x'].astype(float)
homicidios_hechos['pos y'] = homicidios_hechos['pos y'].astype(float)

In [46]:
homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 684 entries, 0 to 695
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               684 non-null    object
 1   N_VICTIMAS       684 non-null    int32
 2   FECHA            684 non-null    datetime64[ns]
 3   HH               684 non-null    int32
 4   LUGAR_DEL_HECHO  684 non-null    object
 5   TIPO_DE_CALLE    684 non-null    object
 6   COMUNA           684 non-null    int32
 7   pos x            684 non-null    float64
 8   pos y            684 non-null    float64
 9   VICTIMA          684 non-null    object
 10  ACUSADO          684 non-null    object
dtypes: datetime64[ns](1), float64(2), int32(3), object(5)
memory usage: 56.1+ KB

* Voy a guardar este CSV ya listo

In [48]:
homicidios_hechos.to_csv('hechos_fatales.csv')

##### Victimas

In [51]:
victimas_fatales = pd.DataFrame(homicidios_victimas)
victimas_fatales.head(3)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00

In [52]:
victimas_fatales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

* De aca me puedo quedar con ID_hecho, Fecha, Rol, Victima, Sexo, Edad. Por tanto, elimino el resto

In [53]:
columnas_a_eliminar = ['AAAA','MM','DD','FECHA_FALLECIMIENTO']
victimas_fatales.drop(columns=columnas_a_eliminar, inplace=True)
victimas_fatales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID_hecho  717 non-null    object
 1   FECHA     717 non-null    datetime64[ns]
 2   ROL       717 non-null    object
 3   VICTIMA   717 non-null    object
 4   SEXO      717 non-null    object
 5   EDAD      717 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 33.7+ KB

* Voy a normalizar el tipo de dato, y cambiar el nombre a algunas columnas

In [57]:
nuevos_nombres = {'ID_hecho':'ID','VICTIMA':'TIPO_DE_VEHICULO'}
victimas_fatales = victimas_fatales.rename(columns=nuevos_nombres)
victimas_fatales['EDAD'] = victimas_fatales['EDAD'].replace('SD', 0)
victimas_fatales['EDAD'] = victimas_fatales['EDAD'].astype(int)
victimas_fatales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                717 non-null    object
 1   FECHA             717 non-null    datetime64[ns]
 2   ROL               717 non-null    object
 3   TIPO_DE_VEHICULO  717 non-null    object
 4   SEXO              717 non-null    object
 5   EDAD              717 non-null    int32
dtypes: datetime64[ns](1), int32(1), object(4)
memory usage: 30.9+ KB

* Voy a guardar este csv

In [58]:
victimas_fatales.to_csv('victimas_fatales.csv')

##### Lesiones Hechos

In [117]:
lesiones_hechos = pd.DataFrame(pd.read_csv('lesiones.csv')) 
lesiones_hechos.head(3)

,Unnamed: 0,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,...,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD
2,2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2,SD,...,-34.677556,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD

In [118]:
lesiones_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             23785 non-null  int64
 1   id                     23785 non-null  object
 2   n_victimas             23785 non-null  int64
 3   aaaa                   23785 non-null  int64
 4   mm                     23785 non-null  int64
 5   dd                     23785 non-null  int64
 6   fecha                  23785 non-null  object
 7   hora                   23785 non-null  object
 8   franja_hora            23780 non-null  object
 9   direccion_normalizada  23732 non-null  object
 10  comuna                 23616 non-null  object
 11  tipo_calle             23785 non-null  object
 12  otra_direccion         23785 non-null  object
 13  calle                  12867 non-null  object
 14  altura                 12771 non-null  float64
 15  cruce                  9407 non-null   object
 16  geocodificacion_CABA   23746 non-null  object
 17  longitud               23523 non-null  object
 18  latutid                23523 non-null  object
 19  victima                23785 non-null  object
 20  acusado                23785 non-null  object
 21  participantes          23785 non-null  object
 22  moto                   23692 non-null  object
 23  auto                   23692 non-null  object
 24  transporte_publico     23692 non-null  object
 25  camion                 23692 non-null  object
 26  ciclista               23692 non-null  object
 27  gravedad               23785 non-null  object
dtypes: float64(1), int64(5), object(22)
memory usage: 5.1+ MB

* Voy a eliminar las columnas que no considero relevantes

In [119]:
columnas_a_eliminar = ['aaaa','mm','dd','hora','direccion_normalizada','tipo_calle','otra_direccion','calle','altura','cruce','geocodificacion_CABA']
lesiones_hechos.drop(columns=columnas_a_eliminar, inplace=True)
lesiones_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          23785 non-null  int64
 1   id                  23785 non-null  object
 2   n_victimas          23785 non-null  int64
 3   fecha               23785 non-null  object
 4   franja_hora         23780 non-null  object
 5   comuna              23616 non-null  object
 6   longitud            23523 non-null  object
 7   latutid             23523 non-null  object
 8   victima             23785 non-null  object
 9   acusado             23785 non-null  object
 10  participantes       23785 non-null  object
 11  moto                23692 non-null  object
 12  auto                23692 non-null  object
 13  transporte_publico  23692 non-null  object
 14  camion              23692 non-null  object
 15  ciclista            23692 non-null  object
 16  gravedad            23785 non-null  object
dtypes: int64(2), object(15)
memory usage: 3.1+ MB

* Evidentemente tengo columnas dummies como moto, auto, transporte publico, camion y ciclistas. Voy a recomponerlas en la columna Victima

In [120]:
# Reemplazar 'SD' por 0 solo en las columnas dummies específicas
dummy_columns = ['moto', 'auto', 'transporte_publico', 'camion', 'ciclista']
lesiones_hechos[dummy_columns] = lesiones_hechos[dummy_columns].replace({'SD': 0})

# Convertir 'x' a 1 solo en las columnas dummies específicas
lesiones_hechos[dummy_columns] = lesiones_hechos[dummy_columns].replace({'x': 1})

# Llenar valores NaN con 0
lesiones_hechos.fillna(0, inplace=True)

# Convertir las columnas dummies específicas a tipo de datos numéricos
lesiones_hechos[dummy_columns] = lesiones_hechos[dummy_columns].astype(int)

# Recomponer la columna 'victima' utilizando idxmax
lesiones_hechos['victima'] = lesiones_hechos[dummy_columns].idxmax(axis=1)

lesiones_hechos.head()

,Unnamed: 0,id,n_victimas,fecha,franja_hora,comuna,longitud,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,0,LC-2019-0000179,1,2019-01-01 00:00:00,9,14,-58.408911,-34.559658,ciclista,SD,CICLISTA-SD,0,0,0,0,1,SD
1,1,LC-2019-0000053,1,2019-01-01 00:00:00,1,8,-58.44351,-34.669125,auto,SD,AUTO-SD,0,1,0,0,0,SD
2,2,LC-2019-0000063,1,2019-01-01 00:00:00,2,8,-58.468335,-34.677556,moto,SD,SD-SD,0,0,0,0,0,SD
3,3,LC-2019-0000079,1,2019-01-01 00:00:00,2,7,-58.437425,-34.647349,moto,SD,PEATON-SD,1,0,0,0,0,SD
4,4,LC-2019-0000082,4,2019-01-01 00:00:00,4,3,-58.398225,-34.604579,transporte_publico,SD,AUTO-SD,0,0,1,0,0,SD

* Ahora elimino las columnas dummies que me sobran, la de acusado y participantes

In [121]:
columnas_a_eliminar = ['moto', 'auto', 'transporte_publico', 'camion', 'ciclista','acusado','participantes','Unnamed: 0']
lesiones_hechos.drop(columns=columnas_a_eliminar,inplace=True)
lesiones_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           23785 non-null  object
 1   n_victimas   23785 non-null  int64
 2   fecha        23785 non-null  object
 3   franja_hora  23785 non-null  object
 4   comuna       23785 non-null  object
 5   longitud     23785 non-null  object
 6   latutid      23785 non-null  object
 7   victima      23785 non-null  object
 8   gravedad     23785 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.6+ MB

* Voy a investigar un poco sobre Gravedad

In [122]:
gravedad = lesiones_hechos['gravedad'].unique()
gravedad

array(['SD', 'GRAVE', 'sd', 'FATAL', 'grave'], dtype=object)

* Primero voy a normalizar los str a mayúsculas

In [123]:
lesiones_hechos['gravedad'] = lesiones_hechos['gravedad'].str.upper()

* Voy a asumir que los SD fueron lesiones leves, por lo que voy a reemplazarlos

In [124]:
lesiones_hechos['gravedad'] = lesiones_hechos['gravedad'].replace('SD', 'LEVE')
gravedad = lesiones_hechos['gravedad'].unique()

gravedad

array(['LEVE', 'GRAVE', 'FATAL'], dtype=object)

* Averiguo sobre COMUNAS

In [125]:
comunas = lesiones_hechos['comuna'].unique()
comunas

array(['14', '8', '7', '3', '15', '11', '9', '1', '4', '12', '2', '5',
       '6', '13', '10', 'No Especificada', 0, 'SD'], dtype=object)

* Tengo 'No Especificada' y 'SD' que son str, voy a convertirlas en 0 para poder eliminarlas o convertirlas en str

In [126]:
lesiones_hechos['comuna'] = lesiones_hechos['comuna'].replace(['No Especificada', 'SD'], 0)

* Voy a averiguar si son relevantes

In [127]:
# Contar la cantidad de veces que aparece cada valor en la columna 'comuna'
conteo_comunas = lesiones_hechos['comuna'].value_counts()

# Obtener el número de veces que aparece el valor 0 en la columna 'comuna'
comuna_cero = conteo_comunas.get(0, 0)

# Calcular el porcentaje de comuna igual a 0 con respecto al total de comunas
porcentaje_comuna_cero = (comuna_cero / len(lesiones_hechos)) * 100

print(f"El porcentaje de comuna igual a 0 respecto al total de comunas es: {porcentaje_comuna_cero:.2f}%")

El porcentaje de comuna igual a 0 respecto al total de comunas es: 6.13%

* No las considero relevantes, las voy a eliminar

In [133]:
# Crear una máscara booleana para identificar las filas donde comuna = 0
mask = (lesiones_hechos['comuna'] == 0)

# Eliminar las filas que cumplen con la condición directamente en el DataFrame original
lesiones_hechos.drop(lesiones_hechos[mask].index, inplace=True)

# Mostrar el DataFrame actualizado
lesiones_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22328 entries, 0 to 23783
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           22328 non-null  object
 1   n_victimas   22328 non-null  int64
 2   fecha        22328 non-null  object
 3   franja_hora  22328 non-null  object
 4   comuna       22328 non-null  object
 5   longitud     22328 non-null  object
 6   latutid      22328 non-null  object
 7   victima      22328 non-null  object
 8   gravedad     22328 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.7+ MB

* Ahora voy a cambiar los tipos de dato a unos más apropiados

In [140]:
lesiones_hechos['n_victimas'] = lesiones_hechos['n_victimas'].astype(int)
lesiones_hechos['fecha'] = pd.to_datetime(lesiones_hechos['fecha'])
lesiones_hechos['franja_hora'] = lesiones_hechos['franja_hora'].astype(int)
lesiones_hechos['longitud'] = pd.to_numeric(lesiones_hechos['longitud'], errors='coerce')
lesiones_hechos['latutid'] = pd.to_numeric(lesiones_hechos['latutid'], errors='coerce')
lesiones_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22328 entries, 0 to 23783
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          22328 non-null  object
 1   n_victimas  22328 non-null  int32
 2   fecha       22328 non-null  datetime64[ns]
 3   hora        22328 non-null  int32
 4   comuna      22328 non-null  object
 5   longitud    22238 non-null  float64
 6   latitud     22238 non-null  float64
 7   victima     22328 non-null  object
 8   gravedad    22328 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(2), object(4)
memory usage: 1.5+ MB

* Voy a cambiar los nombres de las columnas latutid a latitud y franja_hora a hora

In [138]:
lesiones_hechos = lesiones_hechos.rename(columns={'latutid': 'latitud', 'franja_hora': 'hora'})
lesiones_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22328 entries, 0 to 23783
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          22328 non-null  object
 1   n_victimas  22328 non-null  int64
 2   fecha       22328 non-null  datetime64[ns]
 3   hora        22328 non-null  int32
 4   comuna      22328 non-null  object
 5   longitud    22238 non-null  float64
 6   latitud     22238 non-null  float64
 7   victima     22328 non-null  object
 8   gravedad    22328 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(4)
memory usage: 1.6+ MB

* Guardo este csv

In [139]:
#lesiones_hechos.to_csv('lesiones_hechos.csv')

##### Lesiones Victimas

* Importo el xlsx para poder tratarlo

In [141]:
lesiones_victimas = pd.DataFrame(pd.read_excel('lesiones.xlsx', sheet_name='VICTIMAS'))
lesiones_victimas.head(3)

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD
1,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD
2,LC-2019-0000079,2019,1,1,2019-01-01,sd,Varon,SD,SD

* De aqui solo me sirve el Id, la fecha, el sexo y la edad, el resto de columnas las voy a eliminar

In [144]:
columnas_a_eliminar = ['AAA','MM','DD','VEHICULO_VICTIMA','GRAVEDAD']
lesiones_victimas.drop(columns=columnas_a_eliminar, inplace=True)
lesiones_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID hecho      27605 non-null  object
 1   FECHA         27605 non-null  datetime64[ns]
 2   SEXO          27605 non-null  object
 3   EDAD_VICTIMA  27605 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 862.8+ KB

* Voy a rellenar los datos de la edad con la mediana y convertilo a int

In [149]:
#Primero averiguo que datos tengo 
edades = lesiones_victimas['EDAD_VICTIMA'].unique()
edades

array([ 57.,  nan,  45.,  27.,  32.,  21.,  37.,  33.,  25.,  23.,  42.,
        53.,   1.,  62.,  67.,  75.,  40.,  48.,   3.,  49.,  34.,  52.,
        44.,  28.,  59.,  50.,  73.,  26.,  51.,  16.,  43.,  38.,  64.,
        36.,  84.,  22.,  20.,   5.,  39.,  56.,  69.,  55.,  46.,  29.,
        41.,  54.,  74.,  70.,   6.,  30.,  12.,  83.,  24.,  35.,  68.,
        15.,  31.,  19.,   9.,   2.,  13.,  18.,  17.,  58.,  60.,  47.,
         7.,  63.,  66.,  80.,  65.,  71.,  79.,  85.,  61.,  77.,  90.,
        76.,  89.,  78.,  91.,  97.,  10.,  72.,  88.,  11.,  81.,   8.,
        14.,  96.,  82.,  87.,  86.,   4.,  92.,  94.,   0., 100.,  93.,
        95.])

* Veo que hay un valor 'nan' que no corresponde. Lo reemplazo

In [150]:
lesiones_victimas['EDAD_VICTIMA'].replace('nan', np.nan, inplace=True)

* Ahora si relleno y modifico el tipo de dato

In [151]:
# Rellenar los valores NaN con la mediana de la columna
lesiones_victimas['EDAD_VICTIMA'].fillna(lesiones_victimas['EDAD_VICTIMA'].median(), inplace=True)

# Cambiar el tipo de dato de la columna a int
lesiones_victimas['EDAD_VICTIMA'] = lesiones_victimas['EDAD_VICTIMA'].astype(int)

# Verificar los tipos de datos después del cambio
lesiones_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID hecho      27605 non-null  object
 1   FECHA         27605 non-null  datetime64[ns]
 2   SEXO          27605 non-null  object
 3   EDAD_VICTIMA  27605 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(2)
memory usage: 754.9+ KB

* Guardo este df como csv

In [152]:
#lesiones_victimas.to_csv('lesiones_victimas.csv')